/*!
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 40vh;
  min-height: 180px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.login-form {
    width: 340px;
      margin: 50px auto;
    margin-top: 80px;
  }
  .login-form form {
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border: 1px solid;
  }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
.inner-body{
    background: url('../img/loginimage.jpg');background-repeat: no-repeat;background-size: cover; 
}

@media screen and (max-width: 414px) {
    .inner-body{
        background: url('../img/loginimage.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
    }
}

/*
background-size: 100% 100%;
    height: 100vh;
*/
    
    
